<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SegmentDownloader.Protocol.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <SegmentDownloader.Protocol.Settings>
      <setting name="ProxyAddress" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyUserName" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyDomain" serializeAs="String">
        <value/>
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyByPassOnLocal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>80</value>
      </setting>
    </SegmentDownloader.Protocol.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
